.acesse{
    text-align: center;
    align-items: center;

    gap: 40px;

    .text{
        margin-left: 350px;
        width: 600px;
        font-size: 20px;
        color: #000000;

    }
   
        .botaozinho{
        padding: 10px 60px;
        text-decoration: none;
        color: #ffffff;
        background-color: rgb(255, 117, 36);
        border-radius: 10px;

        
    }
    
}